common/*
Sip/t5-neith/AppFrame/*
Sip/t5-neith/duilib/*

Sip/10-common/lib/*
Sip/t5-neith/SipTool/prj_win32/log/*
Sip/t5-neith/SipTool/prj_win32/SipTool.sdf
touch/prj_win32/touch.sdf
Sip/t5-neith/SipTool/prj_win32/Debug/*
Sip/t5-neith/SipTool/prj_win32/ipch/*
Sip/t5-neith/SipTool/prj_win32/Release/*
Sip/t5-neith/SipToolLib/prj_win32/Debug/*
Sip/t5-neith/SipToolLib/prj_win32/Release/*
Sip/t5-neith/SipToolLib/prj_win32/ipch/*
touch/prj_win32/Debug/*
touch/prj_win32/Release/*
touch/prj_win32/ipch/*
